@media screen and (min-width: 600px){  
 #theme-icon{
   cursor: pointer;
 }

  #Home{
  display: flex;
  flex-direction: column-reverse;
  height: 80vh;
  padding: 1px;
  background-size: 100vw;
  gap: 3em;
 }
#name{
  font-family:DM Sans;
  font-size: 3em;
  font-weight: bolder;
}
#titler{
  font-family:Urbanist;
  font-size: 1.5em;
}
  #icons{
  flex-direction: row;
  gap: 2em;
  margin: 0 0 20px 0;
}

nav{
  width: 100%;
}

#Skills{
   text-align: center;
   margin: 1em;
   font-weight: 700;
   height: max-content;
}

.fa-codepen {
  color: var(--color-shade);
}
.fa-linkedin {
  color: var(--color-anim);
}

#Projects{
  margin: 1em auto;
}
#Projects-only{
  align-items: center;
}
.project{
  margin: 1em auto;
  width: 48vw;
}
.project img{
  width: 40vw;
  height: 30vh;
}
#select {
  text-align: center;
  margin: 1em auto;
}

#Contact {
  text-align: center;
}
}

