@media screen and (min-width: 600px){  
 
  #Home{
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  height: 100vh;
  margin: 10px auto;
}
  #icons{
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#icons i{
  color: var(--bg-nav-color);
}
#icons i:hover{
  transform: translateY(5px);
  color: black;
}
#icons .fa-twitter:hover{
  transform: translateY(5px);
  color:  rgb(42, 123, 155)
}
 img.avatar{
  display: block;
  width: 30vw;
  height: 45vh;
  border-radius: 30% 50%;
  margin: 0.5em;
}

 #About{
    background-image: url(../images/coffee-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    text-align: left;
    padding: 3em;
    height: max-content;
    margin: 0;
    color: var(--bg-nav-color)
  }
  #profile{
    width: 40vw;
    line-height: 1.2em;
    font-size: 19px;
    position: relative;
    top: 0;
    right: 2;
}
#select{
  text-align: center;
}
#Contact{
  text-align: center;
}
  #Skills{
    padding: 1em;
    margin: 0.3em auto;
  }
}
