@media screen and (min-width: 1024px){
 
body{
  font-family: 'DM Sans', sans-serif;
  
}

#burger{
  display: none;
}
.hidden{
  display: inline-block;

}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  font-size: larger;
  width: 100%;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0.4em;
  padding: 0.5em;
}
nav ul li:hover{
  border-bottom: 0.2em solid var(--color-shade);
}
nav ul li a{
  text-decoration: none;
  color: var(--bg-main);
  border-bottom: none;
  cursor: pointer;

}
.top-flex{
    display: flex;
    gap: 30vw;
  }
nav ul li a:visited{
  text-decoration: none;
}

nav ul li a:hover{
  color: yellow;
  font-size: larger;
}
main{
  display: flex;
  flex-direction: column;
  margin: 0;
}

#cross{
  display: none;
}
  #Home{
  display: flex;
  height: 100vh;
  }
#name{
  font-family:DM Sans;
  font-size: 4em;
  
}
#titler{
  font-family:DM Sans;
  font-size: 1.7em;
  font-weight: 100;
}

#profile{
  line-height: 2em;
}
#Skills ul{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.icons{
  width: 5em;
  height: 5em;
}
.fa-html5{
  color: darksalmon;
}
.fa-css3, .fa-react, .fa-bootstrap{
  color: blue;
}
.fa-node{
  color: green
}
#skills select{
  width: min-content;
  padding: 1em;
}
label, select{
  align-self: center;
  max-width: 20vw;
}

#Projects-only{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}
.project{
  padding: 1em;
  width: 30vw;
  text-align: center;
}

.project img{
  width: 20vw;
  height: 50vh;
  
}
#Contact button{
  margin: 1rem;
  padding: 0.7em;
  color: black;
  border-radius: 0.5em;
  font-size: larger;
  background-color: pink;
}

.input{
  background-color: grey;
  border: none;
  border-radius: 5%;
}
#Contact button a{
  text-decoration: none;
  color: black;
}
.contact:hover{
  color: pink;
  background-color: black;
  transform: translateY(-1em);

}
footer{
  color:var(--bg-main)
}
}