  :root{
    --bg-main: white;
    --default-color: black;
    --color-anim: blue;
    --color-shade: white;
    --inset: rgba(0, 0, 0);
    --bg-group: lightseagreen;
    --bg-nav-color: white;
    --bg-code: green;
    --bg-live: red;
  }

  .bodyclass {
    --bg-main: #000;
    --default-color: white;
    --color-anim: blue;
    --color-shade: black;
    --bg-group: radial-gradient(#e6e6ff, #b3b3ff);
    --inset: white;
    --bg-nav-color: black;
    --bg-code: green;
    --bg-live: red;    
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    background-color: var(--bg-main);
    color: var(--default-color)
  }

  
 header h1 a{
   font-size: 0.9em;
   color: var(--default-color);
   text-decoration: none;
 }
  section{
    margin: 1em;
    padding: 1em;
  }
  .top-flex{
    display: flex;
    justify-content: space-between;
  }
 .d1, .d2, .d3{
  width: 20px;
  height: 3px;
  margin: 2px;
  background: var(--default-color);
}
#cross:hover{
  transform: translate(2px)
}
.d1.change, .d3.change{
  position: relative;
  top: 1;
  right: 0;

}
.d1.change{
  transform: rotate(45deg) translateX(2px);
}

.d3.change{
  transform: rotate(-45deg) translateX(3px) translateY(-2px);
}
nav{
  margin: 0;
  padding: 1em;
  background-color:var(--bg-nav-color);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100vw;
}
#themes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.toggle{
  width: 60px;
  height: 30px;
  background: var(--default-color);
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}
.indicator{
  width: 30px;
  height: 30px;
  background: var(--bg-main);
  position: absolute;
  left: 0;
  transform: scale(0.8);
  border-radius: 20px;
}
.active{
  width: 30px;
  height: 30px;
  background: var(--bg-main);
  position: absolute;
  left: 30px;
}
.theme-icon{
  width: 1.5em;
  height: 1.5em;
}
  nav ul li{
  list-style-type: none;
  margin: 0.3em;
  padding: 0.5em;
}

nav ul li a{
  text-decoration: none;
  color: var(--default-color);
}
nav ul li a:visited{
  text-decoration: none;
}
.fa-2x{
  color: var(--bg-nav-color);
}
.fa-2x:active{
  color: var(--color-shade);
}
  .show-300{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-nav-color);
    margin: 0;
    padding: 1em;
    width: 60%;
     -webkit-animation-name: easer-in;
    -webkit-animation-duration:  400ms;
    -webkit-animation-timing-function:cubic-bezier(0, 1.24, 0.98, -0.32);
    animation-name: easer-in;
    animation-duration:  400ms;
    animation-timing-function:  cubic-bezier(0, 1.24, 0.98, -0.32);
    -o-animation-name: easer-in;
    -o-animation-duration:  400ms;
    -o-animation-timing-function:  cubic-bezier(0, 1.24, 0.98, -0.32);
    -moz-animation-name: easer-in;
    -moz-animation-duration:  400ms;
    -moz-animation-timing-function:  cubic-bezier(0, 1.24, 0.98, -0.32);
  }

  @keyframes easer-in {
    0%{
      display: none;
      width: 0;
    }
    50%{
      display: flex;
      width: 60%;
      opacity: 0.2;
    }
    100%{
      display: flex;
      width: 60%;
      opacity: 1;
    }
  }
 
  @keyframes sections {
   
    25%{
      transform: scale(0.6)
    }
   
    100%{
      transform: scale(1)
  }
}
 #Home{
   animation: sections .5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.2s 1;
  color:black;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: center;
  height: 40vh;
  padding: 1em 0;
  margin: 0;
  background: url('../images/coffee-unsplash.jpg') no-repeat ;
  background-size:cover;
}
 #icons{
  display: flex;
  flex-direction:column;
  gap: 0.8em;
}

  #name{
  font-family:DM Sans;
  font-size: 1em;
  font-weight: bolder;
}
.cv-btn{
  padding: 0.5em;
  margin: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 0.8em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .article{
    text-align: center;
  }
#titler{
  font-family:Urbanist;
  font-size: 1em;
}

#profile{
color: black;
width: 60vw;
}
.fa-html5{
  color: darksalmon;
}
.fa-css3-alt{
  color: rgb(30, 141, 192);
}


.fa-js{
  color: var(--color-anim);
  background-color: white;
}
 .fa-bootstrap{
  color: blue;
}
.fa-react{
   color: lightseagreen;
 }
.fa-node{
  color: green
}
.fa-git-alt{
  color: #ff6633;
}
.fa-github{
  color: var(--inset);
}
.g-dark{
  color: black;
}


.fa-linkedin{
  color: var(--color-anim);
  background: white;
}
.icons{
  width: 2.5em;
  height: 3.5em;
}
#Skills ul li{
  list-style-type: none;
  padding: 0.5em;
}
#Skills ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#Projects select{
  text-align: center;
  padding: 0.3em;
  border-radius: 5px;
}

#Projects option{
  background-color: var(--bg-main);
  color:var(--default-color);

} 
#Projects{
  display: flex;
  flex-direction: column;
}
#Projects-only{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}
.hidden{
 display:none;
}
.hide{
  display: none;
}
 @keyframes hider {
  0%{
    opacity: 1;
  }
  40%{
    opacity: 0.7;
  }
  70%{
    opacity: 0.4;
  }
  100%{
    opacity: 0;
  }
} 
.project{
  margin: 0.5em auto;
  padding: 1em;
  width: 60vw;
  box-shadow: 0.2em 0.1em 0.4em 0.1em var(--inset);
  border-radius: 0.9em;
  text-align: center;
}
.project h3{
  margin: 15px auto;
}
.project img{
  width: 40vw;
  height: 40vh;
}
option{
  background-color: var(--bg-nav-color);
  color: var(--color-shade)
}
.code{
  margin: 15px 1px;
  padding: 5px;
  color: white;
  background-color: var(--bg-code);
  border: 2px solid var(--bg-code);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.live{
  margin: 15px 1px;
  padding: 5px;
  color: white;
  background-color: var(--bg-live);
  border: 2px solid var(--bg-live);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#Contact i{
  color: var(--bg-nav-color);
}
footer{
  text-align: center;
  background: var(--default-color);
  color:var(--bg-nav-color);
  padding: 1em;
}
.contact-items{
  
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: space-between;
  margin: 0.5em auto;

}
.item{
  color: var(--bg-nav-color);
  border: white 1px solid;
  padding: 5px;
  border-radius: 50%;
}

