@media screen and (min-width: 600px){  
 #theme-icon{
   cursor: pointer;
 }

  #Home{
  display: flex;
  height: 70vh;
  width: 70%; 
 margin: 1em auto;
  padding: 1px;
}
#name{
  font-family:DM Sans;
  font-size: 3em;
  font-weight: bolder;
}
#titler{
  font-family:Urbanist;
  font-size: 1.5em;
}
  #icons{
  display: flex;
  gap: 3em;
  margin: 0 0 20px 0;
}

nav{
  width: 100%;
}

 #About{
    text-align: left;
    padding: 3em;
    height: max-content;
    margin: 0;
    color: var(--bg-nav-color);
    background-size: 100vw;
  }
  #profile{
    width: 50vw;
    line-height: 1.2em;
    font-size: 19px;
    position: relative;
    top: 0;
    right: 2;
}

#select{
  text-align: center;
}
#Contact{
  text-align: center;
}


#Projects-only{
  align-items: center;
}
#Projects-only iframe{
  width: 70vw;
}

}

