@media screen and (min-width: 600px){  
 #theme-icon{
   cursor: pointer;
 }

  #Home{
  display: flex;
  flex-direction: column-reverse;
  height: 50vh;
  padding: 1px;
  background-size: 100vw;
  gap: 3em;
 }
#name{
  font-family:DM Sans;
  font-size: 3em;
  font-weight: bolder;
}
#titler{
  font-family:Urbanist;
  font-size: 1.5em;
}
  #icons{
  flex-direction: row;
  gap: 2em;
  margin: 0 0 20px 0;
}
#icons a:hover{
  transform:scale(1.4);
}

nav{
  width: 100%;
}

#Skills{
   text-align: center;
   margin: 1em;
   font-weight: 700;
   height: max-content;
}


.fa-linkedin {
  color: var(--color-anim);
}

#Projects{
  margin: 1em auto;
}
#Projects-only{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.project{
  margin: 1em auto;
  width: 45vw;
}
.project img{
  width: 34vw;
  height: 30vh;
}
#select {
  text-align: center;
  margin: 1em auto;
}

}

