  :root{
    --bg-main: #ffcc99;
    --default-color: black;
    --color-white: white;
    --bg-group: radial-gradient(chocolate, brown); 
    --bg-nav-color: #994d00;
    --bg-code: green;
    --bg-live: red;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: var(--bg-main);
    color: var(--default-color)
  }
 header h1{
   font-size: 30px;
   color: var(--color-white);
   margin: 0.4em;
 }
  section{
    margin: 1em;
    padding: 1em;
  }
  .top-flex{
    display: flex;
    justify-content: space-between;
  }

  #burger{
    display: block;
    margin: 1em;
  }
  .hidden{
    display: none;
  }
 
.d1, .d2, .d3{
  width: 20px;
  height: 3px;
  margin: 2px;
  background: var(--bg-main);
}
#cross:hover{
  transform: translate(2px)
}
.d1.change, .d3.change{
  position: relative;
  top: 1;
  right: 0;
  
}
.d1.change{
  transform: rotate(45deg) translateX(2px);
}

.d3.change{
  transform: rotate(-45deg) translateX(3px) translateY(-2px);
}
nav{
  margin: 0;
  position: sticky;
  top:0;
  background-color:var(--bg-nav-color);
  z-index: 1;
}
  nav ul li{
  list-style-type: none;
  margin: 0.3em;
  padding: 0.5em;
  color: var(--color-white);
}

nav ul li a{
  text-decoration: none;
  color: var(--bg-main);
}
nav ul li a:visited{
  text-decoration: none;
}
.fa-2x{
  color: brown;
}
.fa-2x:active{
  color: var(--color-white);
}
  .show-300{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-nav-color);
    margin: 0;
    padding: 1em;
    width: 60%;
  }

  #Home{
  color: var(--bg-nav-color);
  display: flex;
  flex-direction: column-reverse;
  gap: 5em;
  align-items: center;
  justify-items: center;
  height: 50vh;
  padding: 2em;
  margin: 1em 0;
}
 #icons{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
  #name{
  font-family:DM Sans;
  font-size: 2em;
  font-weight: bolder;
}
#titler{
  font-family:Urbanist;
  font-size: 2em;
}
.strikethrough{
  text-decoration: line-through;
}
img, .avatar{
  display: none;
}
#About{
  background-color: var(--color-white);
  padding: 1em;
  margin: 0;
  text-align: center;
}
.fa-html5{
  color: darksalmon;
}
.fa-css3{
  color: lightskyblue;
}
.fa-js, .fa-react, .fa-bootstrap{
  color: blue;
}
.fa-node{
  color: green
}
.fa-git-alt{
  color: #ff6633;
}
#Skills ul li{
  list-style-type: none;
} 
#Skills ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
 
#Projects{
  display: flex;
  flex-direction: column;
}
#Projects-only{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}
.project{
  padding: 2px;
  width: 80vw;
}
option{
  background-color: var(--bg-nav-color);
  color: var(--color-white)
}
.code{
  padding: 5px;
  color: white;
  background-color: var(--bg-code);
  border: 2px solid var(--bg-code);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;  
}
.live{
  padding: 5px;
  color: white;
  background-color: var(--bg-live);
  border: 2px solid var(--bg-live);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#Contact i{
  color: var(--bg-nav-color);
}
footer{
  text-align: center;
  background: var(--bg-nav-color);
  color:var(--bg-main);
  padding: 1em;
}