* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  width: 100vw;
}

.navbar {
  background-color: #000;
  height: 4em;
  color: #fafafa;
  width: 83vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar .top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.navbar .top-flex .logo h1 {
  font-size: 900;
}

.navbar .top-flex .logo a {
  text-decoration: none;
  color: #fafafa;
}

.navbar #theme-icon {
  width: 1em;
  height: 1.2em;
}

.navbar .d1, .navbar .d2, .navbar .d3 {
  background-color: #fafafa;
  width: 1.5em;
  height: 0.2em;
  margin: 3px;
}

.navbar .burger {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

@-webkit-keyframes rotator {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes rotator {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes Inverserotator {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes Inverserotator {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.navbar .d1.change {
  position: absolute;
  top: 2;
  right: 5;
  -webkit-animation: rotator 0.4s forwards 0.2s;
          animation: rotator 0.4s forwards 0.2s;
}

.navbar .d2.change {
  display: none;
}

.navbar .d3.change {
  -webkit-animation: Inverserotator 0.4s forwards 0.2s;
          animation: Inverserotator 0.4s forwards 0.2s;
}

.navbar a {
  text-decoration: none;
  color: #fafafa;
}

.navbar .show-300 {
  background-color: #000;
  width: 40vw;
  height: 30vh;
  position: absolute;
  top: 1;
  right: 0;
}

.navbar .show-300 .nav_link {
  display: block;
  padding: 1em;
}

.hidden {
  display: none;
}

#Home {
  width: 83vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/coffee-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#Home .icons a i {
  margin: 0.3em;
}

#Home .fa-github, #Home .fa-codepen {
  color: #000;
}

#Home .fa-linkedin {
  color: #0033cc;
}

#Home .article .description #name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  font-weight: 200;
}

#Home .article .description #titler {
  font-size: 1em;
}

#Home .article .cv-btn {
  background-color: #000;
  color: #fafafa;
  padding: 1em;
  border-radius: 9px;
}

#Projects #select {
  text-align: center;
}

#Projects .project {
  margin: 5px auto;
  width: 60vw;
}

#Projects .project img {
  width: 50vw;
  height: 40vh;
}
/*# sourceMappingURL=mobilestyle.css.map */